body > #root > div {
	height: 100vh;
	max-height: 100vh;
	color: black;
}
body{
	background-color: cadetblue !important;
	font-family: "Kalam", cursive !important;
	font-size:24px !important;
}
.selectProduct{
	width: 300px;
}
.selectProduct ul{
	list-style-position: inside;
	padding-inline-start: 0px;
	list-style-type: none;
}
.selectProduct input{
	width: 100%;
}
.searchProduct{
	font-size: 20px;
	border: 1px solid black;
}
.searchProduct:hover{
	background-color: rgb(58, 185, 58);
}
table{
	border: 2px solid black !important;
}
th, td{
	border: 1px solid black !important;
}
.selectWeight input{
	width: 100px;
}
.inputDropList{
	width: 100%;
	background-color: wheat;
	color: black;
}