body > #root > div {
	height: 100vh;
	max-height: 100vh;
}
body{
	background-color: cadetblue !important;
	font-family: "Kalam", cursive !important;
	font-size:24px !important;
}
.selectProduct{
	width: 300px;
}
.selectProduct input{
	width: 100%;
}
.selectWeight input{
	width: 100px;
}
.inputDropList{
	width: 100%;
	background-color: wheat;
	color: black;
}